{% extends 'base_dark.html' %}
{% load static i18n %}


{% block extend_head %}
<meta property="og:title" content="911 Location Request" />

  <meta property="og:image" content="{% static 'images/911.png' %}" />
{% endblock extend_head %}

{% block title %}
  Request Location
{% endblock title %}


{% block main %}
  <h1>GETTING LOCATION</h1>
    <div id="loader_1" class="spinner"></div>
  <h4>Approve the request to track your location</h4>
  <div style="display:none;">
    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="btn_send_location" type="submit" value="Request Location">Send Location!</button>
  </form>
  </div>
{% endblock main %}


{% block page_javascript %}
  <script>

   function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          var position = {
            coords: {
              latitude: 127.000,
              longitude: 127.000
            }
          };
          showPosition(position)
        }
      }

      function showPosition(position) {
        sendLocation(position);
        {#alert("Latitude: " + position.coords.latitude + " | Longitude: " + position.coords.longitude);#}
      }

      function sendLocation(position) {
        $('#id_longitude').val(position.coords.longitude);
        $('#id_latitude').val(position.coords.latitude);
        $('#btn_send_location').click();
      }

    $(function () {
      getLocation();
    });

  </script>
{% endblock page_javascript %}
